.main {
  align-items: center;
  background-color: rgb(226, 29, 29);
  color: #fff;
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  height: 40px;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}