.wrapper {
  composes: main from './List.module.css';
  bottom: 0;
  display: flex;
  min-height: calc(100vh - 60px);
  flex-direction: column;
  position: absolute;
  width: 100%;
}

.main {
  background-color: #f7f5fa;
  box-shadow: inset 0 20px 70px -40px #c9c8ce;
  flex-grow: 1;
  height: 60vh;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}