.main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  flex-wrap: wrap;
}

.main > * {
  flex-basis: 45%;
  margin: 25px;
}

@media only screen and (max-width: 800px) {
  .main {
    align-items: center;
    flex-direction: column;
  }

  .main > * {
    max-height: 420px;
    margin: 25px 50px;
  }
}