.main {
  background-color: #e7f0ff;
  height: 100%;
  min-height: max-content;
  position: relative;
}

.header {
  background-image: linear-gradient(#00000010, #00000033), url('../images/header.jpg');
  background-size: cover;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  line-height: 1.5rem;
  overflow-x: hidden;
  padding: 10%;
  max-width: 100%;
}

.cta {
  font-size: 1.1rem;
  justify-self: last baseline;
  max-width: 100%;
  width: 600px;
}

.cta-title {
  font-size: 3.3rem;
  font-weight: 600;
}

.nav {
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  padding: 0 10%;
  position: absolute;
  width: 100%;
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .nav, .nav-row {
    flex-wrap: wrap;
  }

  .nav-row {
    justify-content: flex-start;
  }

  .nav-row > * {
    flex-basis: 100%;
  }

  .nav-row > *:last-child {
    max-width: max-content;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.down {
  bottom: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 50px;
  left: 0;
  padding: 15px;
  position: absolute;
  width: 100%;
}

.down svg {
  margin: 0 auto;
}

.section--row {
  align-content: center;
  background-color: #fff;
  box-sizing: border-box;
  color: #2e2e2e;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  padding: 10% 7%;
  position: relative;
}

.count {
  bottom: 50px;
  color: #2e2e2e;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.count--chat {
  composes: count;
  bottom: unset;
  display: flex;
  flex-direction: row;
  left: calc(50vw - 25vw);
  overflow: hidden;
  position: fixed;
  text-align: center;
  top: 136px;
  width: 50vw;
}

.count--chat > * {
  display: inline-block;
  min-width: 50vw;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.section--column {
  composes: section--row;
  flex-direction: column;
  align-items: center;
}

.section--column-transparent {
  composes: section--column;
  background-color: transparent;
}

.section--column-transparent--header {
  composes: section--column;
  color: #fff;
  background-image: linear-gradient(#00000010, #00000033), url('../images/header.jpg');
  background-size: cover;
  padding: 5%;
}

.section--row--naked {
  composes: section--row;
  padding: 7% 0;
}

.section--row--naked .content--top {
  margin-bottom: 0;
}

.section--row-transparent {
  background-color: transparent;
  composes: section--row;
}

.content--left {
  flex-shrink: 1;
  max-width: 40%;
  order: 0;
}

.content--right {
  flex-shrink: 0;
  max-width: 50%;
  order: 1;
}

.content--right--img {
  composes: content--right;
  display: flex;
}

.content--left--img {
  box-sizing: border-box;
  composes: content--left;
  display: flex;
  margin-right: 20px;
  max-width: calc(50% - 20px);
  overflow: hidden;
}

.content--top {
  flex-basis: 100%;
  margin-bottom: 100px;
  order: -1;
  text-align: center;
}

.title-tip {
  color: #a0a0a0;
  font-weight: 700;
  letter-spacing: -0.01rem;
  text-transform: uppercase;
  word-spacing: -0.025rem;
}

.title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 10px;
}

.content-title {
  font-size: 2rem;
  font-weight: 600;
}

.content--carousel {
  display: flex;
  margin-bottom: 30px;
  overflow-x: scroll;
  padding: 45px 0 60px 0;
  scrollbar-width: none;
  width: 100%;
}

.content--carousel--chat {
  composes: content--carousel;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 20px 0 50px 0;
  position: relative;
}

.content--carousel--chat .count {
  bottom: 25px;
}

.carousel__item {
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 5px 30px 7px #f0efef;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 300px;
  justify-content: center;
  margin-left: 50px;
  opacity: 0.9;
  padding: 30px 0 20px 0;
  transition: 0.25s cubic-bezier(0.77, 0, 0.175, 1);
  width: 400px;
}

.carousel__item:last-child {
  margin-right: 50px;
}

.carousel__item:hover {
  opacity: 1;
  scale: 1.1;
}

.carousel__item--product {
  composes: carousel__item;
  box-shadow: 0 10px 25px 10px #c9c8ce;
  cursor: pointer;
  height: 450px;
  opacity: 0.8;
  overflow: hidden;
  position: relative;
  width: 75%;
}

.carousel__item--product:hover {
  box-shadow: 2px 25px 20px -12px #c9c8ce;
}

.carousel__controllers {
  bottom: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.profile-pic {
  border-radius: 50%;
  display: inline-block;
}

.profile-pic--chat {
  composes: profile-pic;
  cursor: pointer;
  height: 46px;
  margin: 0 10px;
  opacity: 0.6;
  width: 46px;
}

.profile-pic--chat:hover {
  opacity: 1;
}

.product-pic {
  width: 100%;
  z-index: 1;
}

.product-summary {
  background-color: #fff;
  bottom: 0;
  box-sizing: border-box;
  color: #2e2e2e;
  display: flex;
  height: 100px;
  left: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
  z-index: 11;
}

.product-summary .card-title {
  font-weight: 600;
  margin: 0 0 5px 0;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.summary-left, .summary-right {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.summary-right__unit {
  color: #b1b1b1;
}

.summary-left > *, .summary-right > * {
  margin: 0 !important;
  white-space: nowrap;
}

.summary-left {
  flex-basis: 75%;
}

.summary-right {
  flex-basis: 25%;
}

.card-title {
  margin: 15px 0 5px 0;
}

.card-description {
  margin: 0;
}

.card-description q {
  display: block;
  font-style: italic;
  margin: 16px 40px;
}

.cta-secondary {
  font-size: 1.5rem;
  margin-top: 0;
}

.footer {
  composes: section--column;
  color: #c4c6c8;
  padding: 7%;
}

.footer ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  list-style: none;
  padding-left: 0;
}

.social-bar {
  display: flex;
}

.social-link {
  align-items: center;
  border-radius: 50%;
  color: #fff;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 20px 10px;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  width: 40px;
}

.social-link--fb {
  composes: social-link;
  box-shadow: inset 0 0 0 40px #27569c;
}

.social-link--tw {
  composes: social-link;
  box-shadow: inset 0 0 0 40px #00aff1;
}

.social-link--ig {
  composes: social-link;
  box-shadow: inset 0 0 0 40px #00739e;
}

.social-link--fb:hover {
  color: #27569c;
  box-shadow: inset 0 0 0 2px;
}

.social-link--tw:hover {
  color: #00aff1;
  box-shadow: inset 0 0 0 2px;
}

.social-link--ig:hover {
  color: #00739e;
  box-shadow: inset 0 0 0 2px;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  width: max-content;
}