.main {
  align-items: center;
  align-content: center;
  background-color: #f6f4f9;
  display: flex;
  min-height: 100vh;
  z-index: 10;
}

.main--details {
  composes: main;
  box-shadow: inset 0 -60px 35px -1px #f7f5fa, inset 0 -100px 0 0 #bcb8ba;
  flex-direction: column;
}

.main--details--open {
  composes: main--details;
  overflow-y: scroll;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  pointer-events: all;
  position: relative;
  transition: 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 100;
}

.wrapper--details {
  composes: wrapper;
  height: 100vh;
}

.wrapper--favorites {
  composes: wrapper;
  background-color: #f6f4f9;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 20px;
}

.wrapper--favorites .favorite {
  background-color: #fff;
  border-radius: 4px;
  flex-basis: calc(25% - 20px);
  height: min-content;
  margin: 30px 10px 0 10px;
  min-width: 200px;
  padding: 20px;
}

.wrapper--favorites .title {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  margin: 100px 0 0 0;
}

.image {
  align-items: flex-end;
  background-image: linear-gradient(to bottom, transparent 67%, #000 115%), url("https://static01.nyt.com/images/2020/01/08/realestate/08IHH-URUGUAY-slide-NAQ6/08IHH-URUGUAY-slide-NAQ6-mobileMasterAt3x.jpg");
  background-size: cover;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: space-between;
  height: calc(55vh + 60px);
  padding: 25px 20px;
  width: 100%;
}

.profile-picture {
  composes: profile-picture from './HiddenNav.module.css';
}

.description {
  box-sizing: border-box;
  color: #2e2e2e;
  display: flex;
  flex-direction: column;
  height: calc(55vh - 60px);
}

.description h4 {
  margin: 0;
  padding: 20px 40px 0 40px;
}

.summary {
  line-height: 1.5rem;
  margin-bottom: 0;
  overflow-y: visible;
  padding: 0 40px 200px 40px;
}

.summary--min {
  composes: summary;
  flex-basis: 26%;
  overflow: hidden;
  padding: 0 40px 20px 40px;
}

.down {
  composes: down from "./LandingPage.module.css";
  padding: 10px 0 20px 0;
  position: relative;
  height: 15%;
  max-height: 51px;
  transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main--details--open .down {
  margin-top: -200px;
}

.down-arrow {
  display: inline-block;
  height: 10px;
}

.down:hover {
  color: #ff5617;
}

.left, .right {
  display: flex;
}

.right {
  flex-direction: column;
}

.left {
  align-items: center;
  justify-content: flex-start;
}

.left > * + *{
  margin: 0 15px;
}

.left > div:not(.profile-picture) > *, .right > * {
  font-size: 1.05rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 5px;
}

.right h5 {
  font-size: 1.15rem;
  font-weight: 400;
  letter-spacing: 0.08rem;
}

.right small {
  font-size: 0.85rem;
  font-weight: 400;
  margin-top: -2px;
}

.zoom {
  width: 40px;
}

.meeting-link {
  align-items: center;
  display: flex;
  text-decoration: underline;
}

.meeting-title {
  font-size: 0.9rem;
}

.title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}