.main {
  align-items: top;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main--rigth {
  composes: main;
  justify-content: flex-end;
}

.main--left {
  composes: main;
  justify-content: flex-start;
}

.text {
  background-color: #f7f5fa;
  border-radius: 4px;
  box-shadow: 2px 6px 35px 0 #c9c8cedd;
  box-sizing: border-box;
  margin: 30px;
  min-height: 20px;
  min-width: 80px;
  padding: 15px 15px;
  position: relative;
  width: max-content;
}

.img {
  border-radius: 50%;
  height: 50px;
  margin: 30px 0 0 30px;
  width: 50px;
}

.main--left .img {
  order: 0;
}

.main--left .text {
  order: 1;
}

.main--left .text::after {
  content: '';
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent; 
  border-right: 8px solid #f7f5fa; 
  height: 0;
  left: -6px;
  position: absolute;
  top: 15px;
  width: 0; 
}

.date {
  bottom: -30px;
  color: #959595;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.date:hover {
  overflow: visible;
}

.main--rigth .date {
  left: 0;
}

.main--left .date {
  right: 0;
}