.main {
  background-color: #f6f4f9;
  box-sizing: border-box;
  color: #959595;
  height: 60px;
  left: 0;
  padding: 0 24px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}

.main ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  position: relative;
  width: 100%;
}

.main li {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-basis: 33.33%;
  max-width: 33.33%;
}

.main li:first-child {
  justify-content: flex-start;
}

.main li:last-child {
  justify-content: flex-end;
}

.main h1, .main h2 {
  color: #2e2e2e;
  font-weight: 600;
  margin: 0;
}

.main i, .ico {
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.86, 0, 0.07, 1);
}

.main i:hover, .ico:hover {
  color: #ff5617;
}

.title {
  transform-origin: left center;
}

.ico {
  display: inline-block;
  height: 1rem;
  margin: 5px 8px 0 8px;
}